.game-area,
.game-menu {
    width: 500px;
    height: 500px;
    padding: 10px 0;
    margin: 0 auto;
    display: block;
}

.game-menu{
    display: flex;
    height: auto;
}

.game-menu__item{
    flex: 1 auto auto;
    font-size: 24px;
    text-align: center;
    padding: 10px 20px;
    border: 1px solid #ededed;
    background: darkslategray;
    color: white;
    border-radius: 5px;
}