.game-unit {
    display: inline-block;
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    max-width: 25%;
    max-height: 25%;
    margin: 5px;
    background-color: #ccc;
    position: relative;
    transition: all .3s ease;
    transition: background-color .3s ease;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.game-unit.shiftLeft {
    transform: translateX(10px);
}

.game-unit.shiftRight {
    transform: translateX(-10px);
}
.game-unit.shiftUp {
    transform: translateY(10px);
}
.game-unit.shiftDown {
    transform: translateY(-10px);
}

@keyframes doublify {
    from {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);
    }
}
@keyframes shiftLeft {
    from {
        transform: translateX(10px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes shiftRight {
    from {
        transform: translateX(-10px);
    }
    to {
        transform: translateX(0px);
    }
}

@keyframes shiftUp {
    from {
        transform: translateY(10px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes shiftDown {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes appear {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

.game-unit__text {
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}